# Assignment 2 - Spark Dataframes
***Note***: All the dataset files were stored in the same folder as this notebook.

In [1]:
import os
import pyspark
import sys

os.environ['PYSPARK_PYTHON'] = sys.executable
os.environ['PYSPARK_DRIVER_PYTHON'] = sys.executable
conf = pyspark.SparkConf()
sc = pyspark.SparkContext(conf=conf)
spark = pyspark.sql.SparkSession(sc)
spark

## 3. 10 Points
**Datafile**: Restaurants_in_Durham_County_NC.csv

__NOTE*** This file is colon delimited (not comma) ***__


**Solve**: How many years are represented in this dataset?

Example output (not actual solution)

    2016-10-30, Pastry

    2016-10-31, Coffee
     :
     :

### Approach:
1. Import `Restaurants_in_Durham_County_NC` into a dataframe

In [2]:
# 1. Import BreadBasket_DMS.csv into a dataframe
q1 = spark.read.option("header", True).option("InferSchema", True).csv("BreadBasket_DMS.csv")

+----------+------------------+------------------+
|      Date|Most Popular Iteam|Total Transactions|
+----------+------------------+------------------+
|2016-10-31|             Bread|               165|
|2016-11-01|               Tea|               542|
|2016-11-02|            Coffee|              2064|
|2016-11-03|            Coffee|              1382|
|2016-11-04|            Coffee|               883|
|2016-11-05|             Bread|              3164|
|2016-11-07|            Coffee|               739|
|2016-11-08|             Bread|               816|
|2016-11-09|             Bread|               890|
|2016-11-10|            Coffee|              1879|
|2016-11-11|             Bread|              6067|
|2016-11-12|         Medialuna|              1104|
|2016-11-14|         Medialuna|              2555|
|2016-11-15|  Keeping It Local|              1343|
|2016-11-16|             Bread|              1409|
|2016-11-17|          Siblings|              2953|
|2016-11-18|            Coffee|              9313|
|2016-11-19|            Coffee|              4895|
|2016-11-21|            Coffee|              3604|
|2016-11-22|         Medialuna|              1847|
+----------+------------------+------------------+
only showing top 20 rows