# Assignment 2 - Spark Dataframes
***Note***: All the dataset files were stored in the same folder as this notebook.

In [1]:
import os
import pyspark
import sys

os.environ['PYSPARK_PYTHON'] = sys.executable
os.environ['PYSPARK_DRIVER_PYTHON'] = sys.executable
conf = pyspark.SparkConf()
sc = pyspark.SparkContext(conf=conf)
spark = pyspark.sql.SparkSession(sc)
spark

## 1. 15 Points
**Datafile**: BreadBasket_DMV.csv

**Solve**: What is the most popular (most sold) between the 8:00AM and 8:59AM for each day?

Example output (not actual solution)

    2016-10-30, Pastry

    2016-10-31, Coffee
     :
     :

### Approach:
1. Import `BreadBasket_DMS.csv` into a dataframe
2. Extract dates in `YYYY-MM-DD` format from the `Date` column and times in `hh:mm:ss` format from the `Time` column
3. Filter the data by `Time` in the range of `08:00:00` and `08:59:00` inclusive and remove rows with `None` in the `Item` column
4. Group the data by `Date` and `Item`, aggregate the `sum` of `Transaction` for each `Item` aliased as `Total` and, sort by `Date` and `Total`
5. Group the data by `Date` and return the last `Item` and last `Total`

In [26]:
# 1. Import BreadBasket_DMS.csv into a dataframe and `filter` out rows with `NONE` in the `Item` column
BreadBasket_DMV = spark.read.option("header", True).option("InferSchema", True).csv("BreadBasket_DMS.csv")
BreadBasket_DMV = BreadBasket_DMV.filter(col("Item") != "NONE")

# 2. Extract dates in `YYYY-MM-DD` format from the `Date` column and times in `hh:mm:ss` format from the `Time` column
from pyspark.sql.functions import col, to_date, date_format
BreadBasket_DMV = BreadBasket_DMV.withColumn("Date", to_date(col("Date"), "YYYY-MM-DD"))
BreadBasket_DMV = BreadBasket_DMV.withColumn("Time", date_format(col("Time"),"hh:mm:ss"))

# 3. Filter the data by `Time` in the range of `08:00:00` and `08:59:00` inclusive 
q1 = BreadBasket_DMV
q1 = q1.filter((col("Time") <= "08:59:00") & (col("Time") >= "08:00:00"))

# 4. Group the data by `Date` and `Item`, aggregate the `sum` of `Transaction` for each `Item` aliased as `Total` and, sort by `Date` and `Total`
from pyspark.sql.functions import sum
q1 = q1.groupBy("Date","Item").agg(sum("Transaction").alias("Total")).sort("Date","Total")

# 5. Group the data by `Date` and return the last `Item` and last `Total`
from pyspark.sql.functions import last
q1 = q1.groupBy("Date").agg(last("Item").alias("Most Popular Iteam"),last("Total").alias("Total Transactions"))

# Display results
q1.show()

+----------+------------------+------------------+
|      Date|Most Popular Iteam|Total Transactions|
+----------+------------------+------------------+
|2016-10-31|             Bread|               165|
|2016-11-01|               Tea|               542|
|2016-11-02|            Coffee|              2064|
|2016-11-03|            Coffee|              1382|
|2016-11-04|            Coffee|               883|
|2016-11-05|             Bread|              3164|
|2016-11-07|            Coffee|               739|
|2016-11-08|             Bread|               816|
|2016-11-09|             Bread|               890|
|2016-11-10|            Coffee|              1879|
|2016-11-11|             Bread|              6067|
|2016-11-12|         Medialuna|              1104|
|2016-11-14|         Medialuna|              2555|
|2016-11-15|  Keeping It Local|              1343|
|2016-11-16|             Bread|              1409|
|2016-11-17|          Siblings|              2953|
|2016-11-18|            Coffee|              9313|
|2016-11-19|            Coffee|              4895|
|2016-11-21|            Coffee|              3604|
|2016-11-22|         Medialuna|              1847|
+----------+------------------+------------------+
only showing top 20 rows

## 2. 15 Points
**Datafile**: BreadBasket_DMV.csv

**Solve**: What is the most common item bought along with “Brownie”? (items bought in the same transaction)

### Approach:
To qualify as an item bought in the same transaction, we will consider items bought at the same time as "Brownie
"
1. Import `BreadBasket_DMS.csv` into a dataframe (See Q1)
2. Extract dates in `YYYY-MM-DD` format from the `Date` column and times in `hh:mm:ss` format from the `Time` column (See Q1)
3. Make list of Brownie Trans and Dates and Time
4. Filter Brownie from list
5. Join both

In [53]:
brown_trans = BreadBasket_DMV.filter(col("Item") == "Brownie").select(col("Date").alias("D"),col("Time").alias("T"),"Item").sort("D","T")
brown_trans.toPandas()

              D         T     Item
0    2016-11-03  01:02:37  Brownie
1    2016-11-03  01:19:57  Brownie
2    2016-11-03  02:26:27  Brownie
3    2016-11-03  03:55:46  Brownie
4    2016-11-03  04:06:19  Brownie
..          ...       ...      ...
374  2017-04-08  02:24:42  Brownie
375  2017-04-08  03:40:26  Brownie
376  2017-04-08  04:14:28  Brownie
377  2017-04-08  10:33:51  Brownie
378  2017-04-08  12:14:40  Brownie

[379 rows x 3 columns]

In [54]:
b = BreadBasket_DMV.filter(col("Item") != "Brownie")
b.toPandas()

             Date      Time  Transaction           Item
0      2016-10-30  09:58:11            1          Bread
1      2016-10-30  10:05:34            2   Scandinavian
2      2016-10-30  10:05:34            2   Scandinavian
3      2016-10-30  10:07:57            3  Hot chocolate
4      2016-10-30  10:07:57            3            Jam
...           ...       ...          ...            ...
20123  2017-04-09  02:32:58         9682         Coffee
20124  2017-04-09  02:32:58         9682            Tea
20125  2017-04-09  02:57:06         9683         Coffee
20126  2017-04-09  02:57:06         9683         Pastry
20127  2017-04-09  03:04:24         9684      Smoothies

[20128 rows x 4 columns]

In [57]:
JoinExpression = (b["Date"] == brown_trans["D"]) & (b["Time"] == brown_trans["T"])
q2 = b.join(brown_trans,JoinExpression, "left_semi").sort("Date","Time")
q2.toPandas()

           Date      Time  Transaction            Item
0    2016-11-03  01:02:37          391        Sandwich
1    2016-11-03  01:02:37          391          Coffee
2    2016-11-03  01:19:57          392          Pastry
3    2016-11-03  01:19:57          392        Focaccia
4    2016-11-03  01:19:57          392      Farm House
..          ...       ...          ...             ...
833  2017-04-08  10:33:51         9574          Coffee
834  2017-04-08  10:33:51         9574  Spanish Brunch
835  2017-04-08  10:33:51         9574       The Nomad
836  2017-04-08  10:33:51         9574         Cookies
837  2017-04-08  12:14:40         9593          Muffin

[838 rows x 4 columns]

In [ ]:
q2.groupBy("Date","Time").

In [28]:
brown_trans = BreadBasket_DMV.filter(col("Item") == "Brownie").select(col("Date").alias("D"),col("Time").alias("T")).sort("D","T")
brown_trans.count()

379

In [29]:
q2.filter(col("Item") != "Brownie").groupBy("Date","Time").max("Transaction").toPandas()

           Date      Time  max(Transaction)
0    2016-11-23  01:55:58              1917
1    2017-02-25  12:22:52              7178
2    2016-11-04  07:02:45               522
3    2017-02-22  02:53:41              7018
4    2016-11-05  09:26:27               539
..          ...       ...               ...
340  2016-11-11  04:20:18              1090
341  2016-11-12  10:23:48              1121
342  2016-11-24  11:05:57              1962
343  2016-12-10  10:48:51              2912
344  2017-04-01  03:44:07              9222

[345 rows x 3 columns]

In [30]:
1240-379

861

In [52]:
from pyspark.sql.functions import count, desc
brown_trans.sort("D","T").show(379)

+----------+--------+-------+
|         D|       T|   Item|
+----------+--------+-------+
|2016-11-03|01:02:37|Brownie|
|2016-11-03|01:19:57|Brownie|
|2016-11-03|02:26:27|Brownie|
|2016-11-03|03:55:46|Brownie|
|2016-11-03|04:06:19|Brownie|
|2016-11-03|10:39:12|Brownie|
|2016-11-03|12:05:25|Brownie|
|2016-11-03|12:07:24|Brownie|
|2016-11-04|01:04:40|Brownie|
|2016-11-04|01:15:24|Brownie|
|2016-11-04|02:17:39|Brownie|
|2016-11-04|02:51:22|Brownie|
|2016-11-04|03:35:06|Brownie|
|2016-11-04|03:39:57|Brownie|
|2016-11-04|03:41:06|Brownie|
|2016-11-04|03:51:24|Brownie|
|2016-11-04|04:14:01|Brownie|
|2016-11-04|05:58:43|Brownie|
|2016-11-04|07:02:45|Brownie|
|2016-11-04|09:55:18|Brownie|
|2016-11-04|10:25:24|Brownie|
|2016-11-04|11:12:22|Brownie|
|2016-11-04|11:17:35|Brownie|
|2016-11-04|11:33:11|Brownie|
|2016-11-04|11:36:07|Brownie|
|2016-11-05|02:03:14|Brownie|
|2016-11-05|02:12:41|Brownie|
|2016-11-05|03:14:47|Brownie|
|2016-11-05|03:17:20|Brownie|
|2016-11-05|03:24:18|Brownie|
|2016-11-05|03:43:51|Brownie|
|2016-11-05|03:56:06|Brownie|
|2016-11-05|04:00:53|Brownie|
|2016-11-05|04:04:24|Brownie|
|2016-11-05|04:05:47|Brownie|
|2016-11-05|04:12:04|Brownie|
|2016-11-05|04:37:10|Brownie|
|2016-11-05|04:45:21|Brownie|
|2016-11-05|08:51:08|Brownie|
|2016-11-05|09:18:53|Brownie|
|2016-11-05|09:26:27|Brownie|
|2016-11-05|09:34:43|Brownie|
|2016-11-05|09:41:44|Brownie|
|2016-11-05|10:20:46|Brownie|
|2016-11-05|10:26:16|Brownie|
|2016-11-05|10:29:41|Brownie|
|2016-11-05|10:43:10|Brownie|
|2016-11-05|11:03:33|Brownie|
|2016-11-05|11:22:49|Brownie|
|2016-11-05|11:24:17|Brownie|
|2016-11-05|11:26:56|Brownie|
|2016-11-05|11:31:33|Brownie|
|2016-11-05|12:19:48|Brownie|
|2016-11-05|12:31:46|Brownie|
|2016-11-05|12:37:20|Brownie|
|2016-11-05|12:58:46|Brownie|
|2016-11-06|01:14:44|Brownie|
|2016-11-06|02:53:44|Brownie|
|2016-11-08|01:37:01|Brownie|
|2016-11-08|02:06:22|Brownie|
|2016-11-08|02:36:39|Brownie|
|2016-11-08|03:50:56|Brownie|
|2016-11-08|10:50:47|Brownie|
|2016-11-08|11:11:42|Brownie|
|2016-11-08|12:13:34|Brownie|
|2016-11-08|12:23:11|Brownie|
|2016-11-09|12:24:49|Brownie|
|2016-11-09|12:33:07|Brownie|
|2016-11-09|12:50:36|Brownie|
|2016-11-10|01:14:56|Brownie|
|2016-11-10|02:06:21|Brownie|
|2016-11-10|03:14:10|Brownie|
|2016-11-10|03:22:10|Brownie|
|2016-11-10|04:15:33|Brownie|
|2016-11-10|09:15:08|Brownie|
|2016-11-10|09:19:23|Brownie|
|2016-11-10|11:23:12|Brownie|
|2016-11-10|12:01:44|Brownie|
|2016-11-11|01:50:43|Brownie|
|2016-11-11|02:55:51|Brownie|
|2016-11-11|04:20:18|Brownie|
|2016-11-11|09:57:15|Brownie|
|2016-11-11|10:18:22|Brownie|
|2016-11-11|10:31:43|Brownie|
|2016-11-11|11:18:38|Brownie|
|2016-11-11|11:20:04|Brownie|
|2016-11-11|11:31:09|Brownie|
|2016-11-11|11:41:37|Brownie|
|2016-11-12|01:10:34|Brownie|
|2016-11-12|01:43:19|Brownie|
|2016-11-12|02:48:20|Brownie|
|2016-11-12|03:00:37|Brownie|
|2016-11-12|03:32:29|Brownie|
|2016-11-12|03:35:24|Brownie|
|2016-11-12|10:23:48|Brownie|
|2016-11-12|11:15:30|Brownie|
|2016-11-12|11:38:14|Brownie|
|2016-11-12|12:03:08|Brownie|
|2016-11-12|12:45:16|Brownie|
|2016-11-13|01:19:35|Brownie|
|2016-11-13|01:37:07|Brownie|
|2016-11-13|01:39:25|Brownie|
|2016-11-13|01:52:27|Brownie|
|2016-11-13|02:28:42|Brownie|
|2016-11-13|04:47:09|Brownie|
|2016-11-13|11:34:54|Brownie|
|2016-11-13|11:54:03|Brownie|
|2016-11-13|11:59:58|Brownie|
|2016-11-13|12:02:45|Brownie|
|2016-11-13|12:07:00|Brownie|
|2016-11-15|02:59:40|Brownie|
|2016-11-15|04:13:26|Brownie|
|2016-11-16|02:52:58|Brownie|
|2016-11-16|10:25:47|Brownie|
|2016-11-16|12:39:27|Brownie|
|2016-11-17|02:27:22|Brownie|
|2016-11-17|04:32:44|Brownie|
|2016-11-17|04:36:02|Brownie|
|2016-11-18|02:41:48|Brownie|
|2016-11-18|03:35:42|Brownie|
|2016-11-18|04:03:01|Brownie|
|2016-11-18|12:16:27|Brownie|
|2016-11-20|01:52:42|Brownie|
|2016-11-20|02:16:32|Brownie|
|2016-11-20|02:53:23|Brownie|
|2016-11-20|03:06:00|Brownie|
|2016-11-20|03:14:21|Brownie|
|2016-11-20|12:20:07|Brownie|
|2016-11-20|12:48:02|Brownie|
|2016-11-21|02:32:20|Brownie|
|2016-11-21|04:27:15|Brownie|
|2016-11-21|11:14:53|Brownie|
|2016-11-22|01:26:51|Brownie|
|2016-11-22|02:42:17|Brownie|
|2016-11-22|04:36:23|Brownie|
|2016-11-22|11:57:33|Brownie|
|2016-11-22|12:40:54|Brownie|
|2016-11-23|01:55:58|Brownie|
|2016-11-23|11:12:42|Brownie|
|2016-11-24|01:12:59|Brownie|
|2016-11-24|01:29:16|Brownie|
|2016-11-24|03:33:37|Brownie|
|2016-11-24|11:05:57|Brownie|
|2016-11-25|03:31:54|Brownie|
|2016-11-25|05:12:09|Brownie|
|2016-11-25|05:19:52|Brownie|
|2016-11-25|09:55:08|Brownie|
|2016-11-27|01:46:49|Brownie|
|2016-11-27|03:43:01|Brownie|
|2016-11-27|10:08:03|Brownie|
|2016-11-27|11:14:35|Brownie|
|2016-11-27|11:49:49|Brownie|
|2016-11-27|11:59:45|Brownie|
|2016-11-27|12:30:35|Brownie|
|2016-12-08|03:40:39|Brownie|
|2016-12-09|01:43:48|Brownie|
|2016-12-09|01:48:24|Brownie|
|2016-12-09|01:52:06|Brownie|
|2016-12-09|03:54:45|Brownie|
|2016-12-09|10:40:00|Brownie|
|2016-12-09|11:03:24|Brownie|
|2016-12-09|12:30:31|Brownie|
|2016-12-10|02:00:50|Brownie|
|2016-12-10|10:48:51|Brownie|
|2016-12-16|01:57:25|Brownie|
|2016-12-16|02:46:22|Brownie|
|2016-12-16|04:09:58|Brownie|
|2016-12-18|01:04:56|Brownie|
|2016-12-18|02:44:07|Brownie|
|2016-12-18|11:04:47|Brownie|
|2016-12-18|11:06:35|Brownie|
|2016-12-18|12:26:03|Brownie|
|2016-12-19|01:38:56|Brownie|
|2016-12-19|02:39:57|Brownie|
|2016-12-19|03:18:57|Brownie|
|2016-12-19|04:26:14|Brownie|
|2016-12-19|10:19:20|Brownie|
|2016-12-19|12:02:06|Brownie|
|2016-12-20|01:41:50|Brownie|
|2016-12-21|03:31:03|Brownie|
|2016-12-21|04:09:04|Brownie|
|2016-12-22|01:13:12|Brownie|
|2016-12-22|01:32:59|Brownie|
|2016-12-22|02:15:29|Brownie|
|2016-12-22|03:51:43|Brownie|
|2016-12-22|10:40:48|Brownie|
|2016-12-23|02:03:32|Brownie|
|2016-12-23|10:35:13|Brownie|
|2016-12-23|10:42:14|Brownie|
|2016-12-23|11:15:31|Brownie|
|2016-12-23|11:36:31|Brownie|
|2017-01-04|02:42:12|Brownie|
|2017-01-04|02:43:08|Brownie|
|2017-01-04|02:57:41|Brownie|
|2017-01-04|03:56:13|Brownie|
|2017-01-04|04:36:46|Brownie|
|2017-01-05|02:01:47|Brownie|
|2017-01-05|11:01:49|Brownie|
|2017-01-05|11:20:01|Brownie|
|2017-01-13|03:09:25|Brownie|
|2017-01-14|01:48:20|Brownie|
|2017-01-14|02:01:27|Brownie|
|2017-01-14|02:18:34|Brownie|
|2017-01-14|09:37:51|Brownie|
|2017-01-14|10:19:46|Brownie|
|2017-01-15|01:12:20|Brownie|
|2017-01-15|04:10:50|Brownie|
|2017-01-16|12:22:41|Brownie|
|2017-01-20|04:35:01|Brownie|
|2017-01-21|02:59:34|Brownie|
|2017-01-21|03:26:25|Brownie|
|2017-01-21|04:00:20|Brownie|
|2017-01-21|09:46:51|Brownie|
|2017-01-21|09:51:20|Brownie|
|2017-01-21|11:13:09|Brownie|
|2017-01-21|11:42:20|Brownie|
|2017-01-21|12:48:53|Brownie|
|2017-01-22|09:36:25|Brownie|
|2017-01-27|01:23:13|Brownie|
|2017-01-27|04:38:46|Brownie|
|2017-01-28|01:20:06|Brownie|
|2017-01-28|03:07:26|Brownie|
|2017-01-28|03:08:58|Brownie|
|2017-01-28|08:52:09|Brownie|
|2017-01-28|11:00:56|Brownie|
|2017-01-28|11:23:12|Brownie|
|2017-01-28|11:32:23|Brownie|
|2017-01-28|11:52:25|Brownie|
|2017-01-29|09:22:36|Brownie|
|2017-01-29|11:17:42|Brownie|
|2017-01-29|12:35:10|Brownie|
|2017-01-31|01:45:37|Brownie|
|2017-01-31|05:18:04|Brownie|
|2017-01-31|09:45:05|Brownie|
|2017-01-31|10:44:34|Brownie|
|2017-02-01|04:39:12|Brownie|
|2017-02-02|11:07:59|Brownie|
|2017-02-04|01:40:38|Brownie|
|2017-02-04|02:52:04|Brownie|
|2017-02-04|03:50:03|Brownie|
|2017-02-04|04:33:02|Brownie|
|2017-02-04|10:58:00|Brownie|
|2017-02-04|12:05:08|Brownie|
|2017-02-04|12:44:36|Brownie|
|2017-02-04|12:52:39|Brownie|
|2017-02-05|01:30:54|Brownie|
|2017-02-05|11:58:01|Brownie|
|2017-02-06|03:12:19|Brownie|
|2017-02-06|03:15:10|Brownie|
|2017-02-06|03:46:51|Brownie|
|2017-02-06|03:48:36|Brownie|
|2017-02-06|03:50:30|Brownie|
|2017-02-06|04:37:37|Brownie|
|2017-02-07|03:03:18|Brownie|
|2017-02-07|05:01:48|Brownie|
|2017-02-07|10:56:03|Brownie|
|2017-02-08|01:14:09|Brownie|
|2017-02-08|01:14:53|Brownie|
|2017-02-08|01:37:31|Brownie|
|2017-02-08|04:13:19|Brownie|
|2017-02-09|03:02:32|Brownie|
|2017-02-09|10:02:51|Brownie|
|2017-02-09|11:01:29|Brownie|
|2017-02-10|02:36:50|Brownie|
|2017-02-10|04:31:35|Brownie|
|2017-02-11|02:18:01|Brownie|
|2017-02-11|02:30:30|Brownie|
|2017-02-11|10:54:41|Brownie|
|2017-02-12|02:35:34|Brownie|
|2017-02-12|02:58:29|Brownie|
|2017-02-12|03:34:48|Brownie|
|2017-02-12|03:35:37|Brownie|
|2017-02-12|11:37:59|Brownie|
|2017-02-13|02:16:21|Brownie|
|2017-02-13|11:48:05|Brownie|
|2017-02-15|04:54:32|Brownie|
|2017-02-16|02:12:21|Brownie|
|2017-02-16|03:21:44|Brownie|
|2017-02-16|10:34:58|Brownie|
|2017-02-16|12:53:29|Brownie|
|2017-02-17|01:13:38|Brownie|
|2017-02-17|03:32:55|Brownie|
|2017-02-17|04:38:06|Brownie|
|2017-02-17|11:49:18|Brownie|
|2017-02-17|11:59:25|Brownie|
|2017-02-18|02:32:28|Brownie|
|2017-02-18|03:27:52|Brownie|
|2017-02-18|04:41:54|Brownie|
|2017-02-18|11:21:38|Brownie|
|2017-02-18|11:23:07|Brownie|
|2017-02-18|12:56:25|Brownie|
|2017-02-19|02:43:20|Brownie|
|2017-02-19|09:59:20|Brownie|
|2017-02-19|11:28:31|Brownie|
|2017-02-19|11:44:34|Brownie|
|2017-02-20|01:17:45|Brownie|
|2017-02-20|08:21:13|Brownie|
|2017-02-22|02:33:24|Brownie|
|2017-02-22|02:53:41|Brownie|
|2017-02-22|04:21:55|Brownie|
|2017-02-23|01:11:08|Brownie|
|2017-02-23|09:07:58|Brownie|
|2017-02-23|09:15:33|Brownie|
|2017-02-23|09:33:18|Brownie|
|2017-02-24|01:27:31|Brownie|
|2017-02-24|01:43:46|Brownie|
|2017-02-24|03:24:56|Brownie|
|2017-02-24|04:52:42|Brownie|
|2017-02-24|08:28:03|Brownie|
|2017-02-24|10:46:10|Brownie|
|2017-02-25|10:47:23|Brownie|
|2017-02-25|12:06:14|Brownie|
|2017-02-25|12:22:52|Brownie|
|2017-03-04|01:18:40|Brownie|
|2017-03-04|01:37:01|Brownie|
|2017-03-04|02:22:59|Brownie|
|2017-03-04|02:29:49|Brownie|
|2017-03-04|10:01:10|Brownie|
|2017-03-04|11:05:09|Brownie|
|2017-03-04|12:05:58|Brownie|
|2017-03-04|12:12:11|Brownie|
|2017-03-04|12:40:40|Brownie|
|2017-03-05|10:57:56|Brownie|
|2017-03-10|11:56:58|Brownie|
|2017-03-11|01:04:45|Brownie|
|2017-03-11|02:39:02|Brownie|
|2017-03-11|11:30:56|Brownie|
|2017-03-12|10:21:21|Brownie|
|2017-03-12|11:45:59|Brownie|
|2017-03-15|01:32:56|Brownie|
|2017-03-15|02:34:16|Brownie|
|2017-03-15|03:29:22|Brownie|
|2017-03-15|05:12:23|Brownie|
|2017-03-16|03:18:55|Brownie|
|2017-03-16|10:42:14|Brownie|
|2017-03-17|01:37:15|Brownie|
|2017-03-17|01:53:11|Brownie|
|2017-03-17|11:47:51|Brownie|
|2017-03-18|01:27:00|Brownie|
|2017-03-18|02:41:03|Brownie|
|2017-03-18|11:45:27|Brownie|
|2017-03-18|12:38:34|Brownie|
|2017-03-20|01:53:18|Brownie|
|2017-03-20|12:30:41|Brownie|
|2017-03-22|09:13:22|Brownie|
|2017-03-22|09:56:12|Brownie|
|2017-03-23|02:46:34|Brownie|
|2017-03-23|10:49:10|Brownie|
|2017-03-23|11:29:55|Brownie|
|2017-03-23|11:33:54|Brownie|
|2017-03-23|12:18:08|Brownie|
|2017-03-24|03:44:45|Brownie|
|2017-03-24|08:01:27|Brownie|
|2017-03-24|11:50:26|Brownie|
|2017-03-26|02:30:39|Brownie|
|2017-03-26|02:47:37|Brownie|
|2017-03-26|02:53:08|Brownie|
|2017-03-26|02:54:02|Brownie|
|2017-03-26|03:00:27|Brownie|
|2017-03-26|04:04:40|Brownie|
|2017-03-26|04:09:51|Brownie|
|2017-03-26|12:52:53|Brownie|
|2017-03-27|01:42:10|Brownie|
|2017-03-27|12:30:36|Brownie|
|2017-03-31|01:22:26|Brownie|
|2017-03-31|02:18:38|Brownie|
|2017-03-31|03:35:02|Brownie|
|2017-03-31|04:45:13|Brownie|
|2017-04-01|01:03:07|Brownie|
|2017-04-01|02:15:57|Brownie|
|2017-04-01|03:44:07|Brownie|
|2017-04-01|09:35:19|Brownie|
|2017-04-01|10:40:35|Brownie|
|2017-04-02|11:27:03|Brownie|
|2017-04-08|02:24:42|Brownie|
|2017-04-08|03:40:26|Brownie|
|2017-04-08|04:14:28|Brownie|
|2017-04-08|10:33:51|Brownie|
|2017-04-08|12:14:40|Brownie|
+----------+--------+-------+