In [1]:
import os
import pyspark
import sys

os.environ['PYSPARK_PYTHON'] = sys.executable
os.environ['PYSPARK_DRIVER_PYTHON'] = sys.executable
conf = pyspark.SparkConf()

sc = pyspark.SparkContext(conf=conf)
spark = pyspark.sql.SparkSession(sc)
spark

In [2]:
jsonDF = spark.range(1).selectExpr(""" '{"myJSONKey" : {"myJSONValue" : [1, 2, 3]}}' as jsonString""")

In [3]:
from pyspark.sql.functions import get_json_object, json_tuple, col
newDF = jsonDF.select( get_json_object(col("jsonString"), "$.myJSONKey.myJSONValue[1]").alias("column"),\
                      json_tuple(col("jsonString"), "myJSONKey"))

In [4]:
newDF.toPandas()

  column                       c0
0      2  {"myJSONValue":[1,2,3]}