In [1]:
import os
import pyspark
conf = pyspark.SparkConf()
sc = pyspark.SparkContext(conf=conf)
spark = pyspark.sql.SparkSession(sc)

In [2]:
spark

In [3]:
df = spark.read.csv("Electric_Vehicle_Population_Data.csv")

In [4]:
df

DataFrame[_c0: string, _c1: string, _c2: string, _c3: string, _c4: string, _c5: string, _c6: string, _c7: string, _c8: string, _c9: string, _c10: string, _c11: string, _c12: string, _c13: string, _c14: string, _c15: string, _c16: string]

In [5]:
df1 = spark.read.option("header", True).option("InferSchema", True).csv("Electric_Vehicle_Population_Data.csv")

In [6]:
df1

DataFrame[VIN (1-10): string, County: string, City: string, State: string, Postal Code: int, Model Year: int, Make: string, Model: string, Electric Vehicle Type: string, Clean Alternative Fuel Vehicle (CAFV) Eligibility: string, Electric Range: int, Base MSRP: int, Legislative District: int, DOL Vehicle ID: int, Vehicle Location: string, Electric Utility: string, 2020 Census Tract: bigint]

In [7]:
df1.show()

+----------+-----------+-----------+-----+-----------+----------+---------+-------+---------------------+-------------------------------------------------+--------------+---------+--------------------+--------------+--------------------+--------------------+-----------------+
|VIN (1-10)|     County|       City|State|Postal Code|Model Year|     Make|  Model|Electric Vehicle Type|Clean Alternative Fuel Vehicle (CAFV) Eligibility|Electric Range|Base MSRP|Legislative District|DOL Vehicle ID|    Vehicle Location|    Electric Utility|2020 Census Tract|
+----------+-----------+-----------+-----+-----------+----------+---------+-------+---------------------+-------------------------------------------------+--------------+---------+--------------------+--------------+--------------------+--------------------+-----------------+
|5YJ3E1EA8J|  San Diego|  Oceanside|   CA|      92051|      2018|    TESLA|MODEL 3| Battery Electric ...|                             Clean Alternative...|           215|        0|                null|     153998050|                null|                null|       6073018509|
|3FA6P0PU7H|   Sedgwick|      Derby|   KS|      67037|      2017|     FORD| FUSION| Plug-in Hybrid El...|                             Not eligible due ...|            21|        0|                null|     138214331|POINT (-97.27013 ...|                null|      20173009801|
|1N4AZ0CP8D|  Snohomish| Marysville|   WA|      98271|      2013|   NISSAN|   LEAF| Battery Electric ...|                             Clean Alternative...|            75|        0|                  38|       3129059|POINT (-122.19388...|PUGET SOUND ENERG...|      53061052805|
|WBY8P8C58K|     Kitsap|  Bremerton|   WA|      98337|      2019|      BMW|     I3| Plug-in Hybrid El...|                             Clean Alternative...|           126|        0|                  26|     166525635|POINT (-122.62749...|PUGET SOUND ENERG...|      53035080500|
|5YJ3E1EA7K|  Snohomish|    Edmonds|   WA|      98026|      2019|    TESLA|MODEL 3| Battery Electric ...|                             Clean Alternative...|           220|        0|                  32|     475248315|POINT (-122.31768...|PUGET SOUND ENERG...|      53061050800|
|1G1FZ6S07L|Walla Walla|Walla Walla|   WA|      99362|      2020|CHEVROLET|BOLT EV| Battery Electric ...|                             Clean Alternative...|           259|        0|                  16|     150312991|POINT (-118.34261...|          PACIFICORP|      53071920702|
|KNDCC3LG1L|  Snohomish|    Everett|   WA|      98204|      2020|      KIA|   NIRO| Battery Electric ...|                             Clean Alternative...|           239|        0|                  21|     152471728|POINT (-122.25527...|PUGET SOUND ENERG...|      53061041905|
|1N4AZ0CP5D|     Island| Oak Harbor|   WA|      98277|      2013|   NISSAN|   LEAF| Battery Electric ...|                             Clean Alternative...|            75|        0|                  10|     234850367|POINT (-122.64682...|PUGET SOUND ENERG...|      53029970300|
|5YJ3E1EA1L|  Snohomish|    Bothell|   WA|      98021|      2020|    TESLA|MODEL 3| Battery Electric ...|                             Clean Alternative...|           266|        0|                   1|     110771972|POINT (-122.18384...|PUGET SOUND ENERG...|      53061051937|
|5YJ3E1EB8K|   Thurston|    Olympia|   WA|      98501|      2019|    TESLA|MODEL 3| Battery Electric ...|                             Clean Alternative...|           220|        0|                  22|     477769939|POINT (-122.89166...|PUGET SOUND ENERG...|      53067010700|
|5YJ3E1EA4J|     Skagit|  Anacortes|   WA|      98221|      2018|    TESLA|MODEL 3| Battery Electric ...|                             Clean Alternative...|           215|        0|                  10|     258609291|POINT (-122.61214...|PUGET SOUND ENERG...|      53057940302|
|5YJ3E1EBXL|  Snohomish|    Bothell|   WA|      98012|      2020|    TESLA|MODEL 3| Battery Electric ...|                             Clean Alternative...|           322|        0|                  21|     106295451|POINT (-122.21061...|PUGET SOUND ENERG...|      53061051927|
|5YJ3E1EA9J|       King|       Kent|   WA|      98031|      2018|    TESLA|MODEL 3| Battery Electric ...|                             Clean Alternative...|           215|        0|                  11|     186185814|POINT (-122.17743...|PUGET SOUND ENERG...|      53033029306|
|5YJSA1S29F|  Snohomish|    Bothell|   WA|      98021|      2015|    TESLA|MODEL S| Battery Electric ...|                             Clean Alternative...|           208|        0|                   1|     199402794|POINT (-122.18384...|PUGET SOUND ENERG...|      53061051937|
|5YJ3E1EAXK|   Thurston|    Olympia|   WA|      98513|      2019|    TESLA|MODEL 3| Battery Electric ...|                             Clean Alternative...|           220|        0|                   2|     329238430|POINT (-122.80277...|PUGET SOUND ENERG...|      53067012320|
|KNAGV4LD3H|     Kitsap|  Bremerton|   WA|      98383|      2017|      KIA| OPTIMA| Plug-in Hybrid El...|                             Not eligible due ...|            29|        0|                  23|     314301186|POINT (-122.69275...|PUGET SOUND ENERG...|      53035091205|
|KNDJP3AE8H|     Kitsap|     Olalla|   WA|      98359|      2017|      KIA|SOUL EV| Battery Electric ...|                             Clean Alternative...|            93|    32250|                  26|     350084948|POINT (-122.54729...|PUGET SOUND ENERG...|      53035092803|
|1N4AZ1CP8K|  Snohomish|    Woodway|   WA|      98020|      2019|   NISSAN|   LEAF| Battery Electric ...|                             Clean Alternative...|           150|        0|                  32|     274983740|POINT (-122.37689...|PUGET SOUND ENERG...|      53061050600|
|1FADP5CU1D|  Snohomish|    Bothell|   WA|      98021|      2013|     FORD|  C-MAX| Plug-in Hybrid El...|                             Not eligible due ...|            19|        0|                   1|     302447554|POINT (-122.18384...|PUGET SOUND ENERG...|      53061051918|
|7SAYGDEE2N|    Whitman|    Pullman|   WA|      99163|      2022|    TESLA|MODEL Y| Battery Electric ...|                             Eligibility unkno...|             0|        0|                   9|     193579760|POINT (-117.18147...|         AVISTA CORP|      53075000201|
+----------+-----------+-----------+-----+-----------+----------+---------+-------+---------------------+-------------------------------------------------+--------------+---------+--------------------+--------------+--------------------+--------------------+-----------------+
only showing top 20 rows

In [8]:
df1.sort("City").explain()

== Physical Plan ==
AdaptiveSparkPlan isFinalPlan=false
+- Sort [City#70 ASC NULLS FIRST], true, 0
   +- Exchange rangepartitioning(City#70 ASC NULLS FIRST, 200), ENSURE_REQUIREMENTS, [plan_id=58]
      +- FileScan csv [VIN (1-10)#68,County#69,City#70,State#71,Postal Code#72,Model Year#73,Make#74,Model#75,Electric Vehicle Type#76,Clean Alternative Fuel Vehicle (CAFV) Eligibility#77,Electric Range#78,Base MSRP#79,Legislative District#80,DOL Vehicle ID#81,Vehicle Location#82,Electric Utility#83,2020 Census Tract#84L] Batched: false, DataFilters: [], Format: CSV, Location: InMemoryFileIndex(1 paths)[file:/G:/My Drive/CS-GY 6513 Big Data/Big-Data-Code/Spark/Electric_Veh..., PartitionFilters: [], PushedFilters: [], ReadSchema: struct<VIN (1-10):string,County:string,City:string,State:string,Postal Code:int,Model Year:int,Ma...

In [9]:
df1.select("City").show()

+-----------+
|       City|
+-----------+
|  Oceanside|
|      Derby|
| Marysville|
|  Bremerton|
|    Edmonds|
|Walla Walla|
|    Everett|
| Oak Harbor|
|    Bothell|
|    Olympia|
|  Anacortes|
|    Bothell|
|       Kent|
|    Bothell|
|    Olympia|
|  Bremerton|
|     Olalla|
|    Woodway|
|    Bothell|
|    Pullman|
+-----------+
only showing top 20 rows

In [10]:
df1.createOrReplaceTempView("cars")

In [11]:
spark.sql("select City from cars").show()

+-----------+
|       City|
+-----------+
|  Oceanside|
|      Derby|
| Marysville|
|  Bremerton|
|    Edmonds|
|Walla Walla|
|    Everett|
| Oak Harbor|
|    Bothell|
|    Olympia|
|  Anacortes|
|    Bothell|
|       Kent|
|    Bothell|
|    Olympia|
|  Bremerton|
|     Olalla|
|    Woodway|
|    Bothell|
|    Pullman|
+-----------+
only showing top 20 rows

In [12]:
spark.sql("select City from cars").explain()

== Physical Plan ==
FileScan csv [City#70] Batched: false, DataFilters: [], Format: CSV, Location: InMemoryFileIndex(1 paths)[file:/G:/My Drive/CS-GY 6513 Big Data/Big-Data-Code/Spark/Electric_Veh..., PartitionFilters: [], PushedFilters: [], ReadSchema: struct<City:string>

In [13]:
df1.select("City").explain()

== Physical Plan ==
FileScan csv [City#70] Batched: false, DataFilters: [], Format: CSV, Location: InMemoryFileIndex(1 paths)[file:/G:/My Drive/CS-GY 6513 Big Data/Big-Data-Code/Spark/Electric_Veh..., PartitionFilters: [], PushedFilters: [], ReadSchema: struct<City:string>

In [14]:
df1.groupBy("County").count().show()

+---------------+-----+
|         County|count|
+---------------+-----+
|       Thurston| 4326|
|          Ferry|   27|
|          Marin|    1|
|       Kittitas|  409|
|Prince George's|    3|
|      Snohomish|13293|
|       Franklin|  387|
|         Kitsap| 4016|
|           Bell|    2|
|       Arapahoe|    1|
|     Alexandria|    5|
|    Los Angeles|    8|
|       Okanogan|  154|
|     Sacramento|    1|
|      San Diego|   23|
|           null|    2|
|   Grays Harbor|  415|
|     Chesapeake|    4|
|      St. Louis|    1|
|           King|62375|
+---------------+-----+
only showing top 20 rows

In [15]:
from pyspark.sql.functions import max
df1.select(max("Electric Range")).show()

+-------------------+
|max(Electric Range)|
+-------------------+
|                337|
+-------------------+

In [16]:
from pyspark.sql.functions import desc

df1.sort(desc("Electric Range")).select("county","city","electric range", "model").show(3)

+---------+---------+--------------+-------+
|   county|     city|electric range|  model|
+---------+---------+--------------+-------+
|    Clark|Vancouver|           337|MODEL S|
|     King|Carnation|           337|MODEL S|
|Snohomish|  Bothell|           337|MODEL S|
+---------+---------+--------------+-------+
only showing top 3 rows

In [17]:
df1.groupBy("Model").max("Electric Range")\
.withColumnRenamed("Model", "Car Model").withColumnRenamed("max(Electric Range)","Highest Range")\
.sort(desc("Highest Range")).show()

+----------------+-------------+
|       Car Model|Highest Range|
+----------------+-------------+
|         MODEL S|          337|
|         MODEL 3|          322|
|         MODEL X|          293|
|         MODEL Y|          291|
|         BOLT EV|          259|
|            KONA|          258|
|        ROADSTER|          245|
|            NIRO|          239|
|          I-PACE|          234|
|             PS2|          233|
|          E-TRON|          222|
|E-TRON SPORTBACK|          218|
|            LEAF|          215|
|          TAYCAN|          203|
|           IONIQ|          170|
|              I3|          153|
|          E-GOLF|          125|
|         SOUL EV|          111|
|         HARDTOP|          110|
|            RAV4|          103|
+----------------+-------------+
only showing top 20 rows

In [18]:
df1.printSchema()

root
 |-- VIN (1-10): string (nullable = true)
 |-- County: string (nullable = true)
 |-- City: string (nullable = true)
 |-- State: string (nullable = true)
 |-- Postal Code: integer (nullable = true)
 |-- Model Year: integer (nullable = true)
 |-- Make: string (nullable = true)
 |-- Model: string (nullable = true)
 |-- Electric Vehicle Type: string (nullable = true)
 |-- Clean Alternative Fuel Vehicle (CAFV) Eligibility: string (nullable = true)
 |-- Electric Range: integer (nullable = true)
 |-- Base MSRP: integer (nullable = true)
 |-- Legislative District: integer (nullable = true)
 |-- DOL Vehicle ID: integer (nullable = true)
 |-- Vehicle Location: string (nullable = true)
 |-- Electric Utility: string (nullable = true)
 |-- 2020 Census Tract: long (nullable = true)

In [19]:
df1.select("Model").show()

+-------+
|  Model|
+-------+
|MODEL 3|
| FUSION|
|   LEAF|
|     I3|
|MODEL 3|
|BOLT EV|
|   NIRO|
|   LEAF|
|MODEL 3|
|MODEL 3|
|MODEL 3|
|MODEL 3|
|MODEL 3|
|MODEL S|
|MODEL 3|
| OPTIMA|
|SOUL EV|
|   LEAF|
|  C-MAX|
|MODEL Y|
+-------+
only showing top 20 rows

In [20]:
df2 = spark.read.\
format("json").load("flight-data/json/2015-summary.json")
df2.printSchema()

root
 |-- DEST_COUNTRY_NAME: string (nullable = true)
 |-- ORIGIN_COUNTRY_NAME: string (nullable = true)
 |-- count: long (nullable = true)

In [21]:
df2 = spark.read.json("flight-data/json/2015-summary.json")
df2.printSchema()

root
 |-- DEST_COUNTRY_NAME: string (nullable = true)
 |-- ORIGIN_COUNTRY_NAME: string (nullable = true)
 |-- count: long (nullable = true)

In [ ]:
from pyspark.sql.functions import col
df1.col("cars")